<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Maze Game</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        
            <!-- This line adds the main bar to this html. -->
            <iframe src="/views/MainBar.htmL" width="100%" height="50px" marginwidth="0" frameborder="0"></iframe>
        
            <!-- This page objects -->
            
            <div class="col-sm-4 jumbotron">
                <h2 class="modal-header">Single Player Game</h2>
                <!-- TODO handle the submition -->
                <table class="table table-striped">
                    <tr>
                        <td>Name</td>
                        <td>
                            <input class="form-control" id="mazeName" type="text" name="name"
                                   placeholder="Enter name" />
                        </td>
                    </tr>
                    <tr>
                        <td>Rows</td>
                        <td>
                            <input id="rows" class="form-control" type="text" name="rows"
                                   placeholder="Enter rows" />
                        </td>
                    </tr>
                    <tr>
                        <td>Cols</td>
                        <td>
                            <input id="cols" class="form-control" type="text" name="cols"
                                   placeholder="Enter cols" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button id="StartButton">Start New Game</button></td>
                    </tr>


                    <tr>
                        <td>
                            Search
                            <br />
                            Algo
                        </td>
                        <td>
                            <!-- TODO parse the value here or in an intermidate class to 0/1 -->
                            <div class="input-group">
                                <input ID="datebox" Class="form-control" readonly />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="mylist" class="dropdown-menu">
                                        <li><a href="#">Default</a></li>
                                        <li><a href="#">BFS</a></li>
                                        <li><a href="#">DFS</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input class="btn-info" id="solveButton" type="submit"
                                   value="Solve Game">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-8 text-center">
                <canvas id="mazeCanvas" tabindex="1" style="border:3px solid black" width="500" height="500"></canvas>
            </div>
        </div>
    <script src="../start_game_single.js"></script>
</body>
</html>