<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Maze Game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/ranking_table.js"></script>
</head>
<body>
    <!-- This line adds the main bar to this html. -->
    <iframe src="/views/MainBar.htmL" width="100%" height="50px" marginwidth="0" frameborder="0"></iframe>
    <!-- This page objects -->
    <div class="container">
        <table id="rankTable" class="table table-striped table-bordered table-hover table-condensed">
            <tr style="border-bottom:solid">
                <th>Rank</th>
                <th>Username</th>
                <th>Wins</th>
                <th>Losses</th>
            </tr>
        </table>
    </div>
</body>
</html>